$theme = {
  color: #fff,
  bc: #06c,
  maxWidth: 768px,
  appBc: #eee,
  backgroundWhite: #eee,
  text_color_grey: #777,
  text_color_darker: #aaa,
  iconBackground: #f1f1f1,
  dateBackground: #e5e5e5,
  borderColor: #ddd
}
$zindex = {
  picker: 2000
}